<div class="about">
            <div class="main_tit">Consent</div>
            <br><span class="sub_tit" style="font-size: 25px">Please consider this information carefully before deciding whether to accept this task.</span><br>
            <span class="sub_tit">TITLE OF RESEARCH:</span> Intelligent Group Decision Making.<br>
            <!--TODO-->
            <span class="sub_tit">PURPOSE OF RESEARCH:</span> To examine problem solving performance.<br>
            <span class="sub_tit">WHAT YOU WILL DO:</span> You will be asked to solve a Sokoban game problem.<br>
            <span class="sub_tit">TIME REQUIRED:</span> Participation will take approximately 40-50 minutes. <!--TODO--><br>
            <span class="sub_tit">RISKS:</span> There are no anticipated risks associated with participating in this study. The effects of participating should be comparable to those you would experience from viewing a computer monitor for 40 minutes and using a mouse.<br>
            <span class="sub_tit">COMPENSATION:</span> Upon completion of this task, you will receive a code to enter on the Amazon Mechanical Turk task page, and you will receive the amount that was indicated on the task page.<br>
            <span class="sub_tit">CONFIDENTIALITY:</span> Your participation in this study will remain confidential. Your responses will be assigned a code number.<br>
            You will NOT be asked to provide your name. You will be asked to provide your age and gender.<br>
            Throughout the experiment, we may collect data such as browser type, operating system version, mouse movements, and error rates.<br>
            The records of this study will be kept private.<br>
            We will delete your Amazon Mechnical Turk Worker ID once we process your task and payment (within 3 days of completing this task).<br>
            In any sort of report we make public we will not include any information that will make
            it possible to identify you without your explicit consent.<br>
            Research records will be kept in a locked file; only the researchers will have access to the records.<br>
            <span class="sub_tit">PARTICIPATION AND WITHDRAWAL:</span> Your participation in this study is voluntarily, and you may withdraw and return the task to Amazon Mechanical Turk at any time. You will receive a compensation only if you complete the task. You may withdraw at any time by closing the web page of the task.<br>
            <span class="sub_tit">CONTACT:</span> This study is conducted by researchers at the Ben-Gurion University<br>
            If you have any questions or concerns about this study, please contact hillash@post.bgu.ac.il.<br>
            <br>
            <span class="sub_tit">CONSENT:</span> I have read the above information and the nature and purpose of this research have been sufficiently explained. I consent to take part in the study.<br>
            I understand that I am free to withdraw at any time.<br>
        <p>
            <span class="sub_tit"><input type="checkbox" ng-model="consentCtrl.consentBtn"> I agree and will participate in this study.</span><br>
            <button ng-disabled="!consentCtrl.consentBtn" ng-click="consentCtrl.moveDmg()">Continue</button>
        </p>
    </div>