<div class="main_tit">Instructions - Sokoban</div>
<br><span class="sub_tit">In this task you will play a version of the game Sokoban.</span><br>
Sokoban is japanese for 'warehouse keeper'.<br>
You have to push the boxes to their proper locations, without importance to the order of the boxes.<br>
Your goal will be to find what is the minimum number of moves to win the game, given a starting position.<br>
<br>
The objective of SOKOBAN is to move the boxes in the warehouse into their assigned storage areas.<br>
You are the warehouse foreman in control of Wally, a mechanical warehouseman.<br>
You must direct Wally to determine the quickest method of pushing all of the boxes onto their diamond storage areas.<br>
<br>
    Use the arrow keys to move Wally.<br>
    Wally can only push one box at a time, he may not push two or more boxes on the same push.<br>
    <br>
    You may use the UNDO feature to undo your immediately preceding move,<br>
    The RESET the feature will restore the positions of the boxes and Wally to where they were at the start of the level.<br>
    <br>

    <img src="../../gfx/inst1.png" width="200px"/> <img src="../..//gfx/lw2.PNG" width="194px"/>
    <br>
    <span class="sub_tit"> You will have the opportunity to get a bonus based on your performance - if all of your solutions will be in the right range of corectness, you get a bonus of 2.5$.</span>
    <br>
<button ng-click="instCtrl.move()">Continue</button>